body{
	background-color: greenyellow;
}
p{
	font-size: 50px;
	color: cyan;
	background-color: ivory;
}
.p1{
	display: inline;
}
.p2{
	display: block;
}
.p2 span{
	border: 3px dashed green;
	background-color: gold;
	display: inline-block;
}
ul{
	list-style: none;
}
li{
	display: inline;
	border: 1px dashed gray;
}
li:hover{
	background-color: grey;
}
a{
	text-decoration: none;
}
#first{
	width: 400px;
	height: 400px;
	background-color: gold;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 50px;
	border: 20px pink;
	border-style:solid dotted dashed  double;
}
#second{
	width: 500px;
	height: 800px;
	background-color: cornsilk;
	margin: 100px;
	padding: 50px;
}
#third,#forth{
	width: 700px;
	height: 200px;
	background-color: cyan;
	margin: 50px;
	border: 10px dashed;
	border-color: red green hotpink royalblue;
}
#forth{
	background-color: orchid;
	border-style: dotted;
}