body{
    background-color: #070F2B;
}
a{
  text-decoration: none;
  color: #4830F0;

}

/*-------------------*/
/*                   */
/*                   */
/*    adaptation     */
/*                   */
/*                   */
/*-------------------*/
@media only screen and (max-width:500px){
  nav,main,aside{
    width: 100%;
  }
}
@media only screen and (max-width:800px){
  article{
    width: 97%;
  }
}
@media only screen and (max-width:800px){
  .mc{
    width: 97%;
  }
}

/*-------------------*/
/*                   */
/*                   */
/*      header       */
/*                   */
/*                   */
/*-------------------*/

header{
    height: 320px;
    background-color: #091428;    
}
.bgvideo{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bgvideo video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
}
/*-------------------*/
/*                   */
/*                   */
/*    navigation     */
/*                   */
/*                   */
/*-------------------*/

h1{
    text-align: center;
    color: #b8bce2;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    position: sticky;
    top: 12px;
}
nav{
    width: 22%;
    height: 1710px;
    background-color: #060d26;
    float: left;
}
.up{
    height: 200px;
    width: 200px;
    position: sticky;
    top: 410px;
    padding-left: 95px;
}

.btn {
  border-radius: 100px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 17px 39px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 620px;
  height: 80px;
  width: 400px;
 }
  .btn-primary {
  background: #5a7ce2;
  background: -moz-linear-gradient(-45deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
  background: -webkit-linear-gradient(-45deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
  background: linear-gradient(135deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a7ce2', endColorstr='#575cdb',GradientType=1 );
  background-size: 400% 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  border: medium none;
 }
  .btn-outline-primary:hover {
  background-color: #5a7ce2;
  border-color: #5a7ce2;
  color: #fff;
 }

/*-------------------*/
/*                   */
/*                   */
/*       main        */
/*                   */
/*                   */
/*-------------------*/

h2{
  color: #b8bce2;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}
main{
  width: 53%;
  background-color: #050c21;
  float: left;
  padding-top: 30px;
}
p{
  color: #a5a9ce;
  font-size: 20px;
}
.dd{
  width: 500px; 
  height: 258px;
}
h3{
  color: #b8bce2;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}
h4{
  color: #b8bce2;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}
#youtube > iframe{
  margin: auto;
  display: block;
}

/*-------------------*/
/*                   */
/*                   */
/*       aside       */
/*                   */
/*                   */
/*-------------------*/

aside{
  width: 25%;
  float: left;
  height: 1710px;
}
.img1{
  width: 280px;
  float: left;
  display: block;
  justify-content: left;
  align-items: left;
  padding-left: 100px;
  padding-top: 50px;
  border-radius: 35px;
  position: relative;
}
h5{
  color: #b8bce2;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  padding-top: 550px;
  position: sticky;
  top: -538px;
}

/*-------------------*/
/*                   */
/*                   */
/*      footer       */
/*                   */
/*                   */
/*-------------------*/

footer{
  height: 250px;
  background-color: #030b22;
  clear: both;
}
footer section{
  width: 32%;
}
#contact1{
  display: inline-block;
}
#social{
  display: inline-block;
}
#good{
  display: inline-block;
}
#contact1 > h6{
  color: #696f91;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding-top: 10px;
}
#contact1 > p{
  color: #696f91;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: auto;
  text-align: left;
}

#social > h6{
  color: #696f91;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding-top: 10px;
}
#social > p{
  color: #696f91;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: auto;
  text-align: center;
}
#good > h6{
  color: #696f91;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding-top: 10px;
}
#good > p{
  color: #696f91;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: right;
}

/*-------------------*/
/*    button_nav     */
/*-------------------*/

.gradient-button1 {
  text-decoration: none;
  display: inline-block;
  color: #e4e6f1;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  height: 50px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  position: sticky;
  top: 70px;
}
.gradient-button1:hover {
  background-position: right center;
}
.gradient-button2 {
  text-decoration: none;
  display: inline-block;
  color: #e4e6f1;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  height: 50px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  position: sticky;
  top: 190px;
}
.gradient-button2:hover {
  background-position: right center;
}
.gradient-button3 {
  text-decoration: none;
  display: inline-block;
  color: #e4e6f1;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  height: 50px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  position: sticky;
  top: 310px;
}
.gradient-button3:hover {
  background-position: right center;
}

/*-------------------*/
/*   button_aside    */
/*-------------------*/

#asidee{
  margin-left: 30px;
}
#stickk{
  margin-left: 30px;
  position: sticky;
  top: 70px;
  margin-top: 10px;
}
#stick{
  margin-left: 30px;
  position: sticky;
  top: 160px;
  margin-top: 20px;
}
#stick1{
  margin-left: 30px;
  position: sticky;
  top: 250px;
  margin-top: 20px;
}
#stick2{
  margin-left: 30px;
  position: sticky;
  top: 340px;
  margin-top: 20px;
}
#stick3{
  margin-left: 30px;
  position: sticky;
  top: 430px;
  margin-top: 20px;
}
#stick4{
  margin-left: 30px;
  position: sticky;
  top: 520px;
  margin-top: 20px;
}
#stick5{
  margin-left: 30px;
  position: sticky;
  top: 610px;
  margin-top: 20px;
}
.button{
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto, Verdana, Tahoma, sans;
  border-radius: 100px;
  color: #fff;
  width: 190px;
  height: 75px;
  margin-top: 20px;
  display: inline-block;
  margin-left: 40px;
}
.button + .button {
  margin-left: 6px;
}
.button.blue {
  background: #2196F3;
}
.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:hover.blue {
  background: #39a1f4;
}
.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:active.blue {
  background: #0d8aee;
}