body{
	background-color: cyan;
}
p{
	font-size: 50px;
	 font-family: "Rubik Marker Hatch", system-ui;
	 text-align: center;
	 color: orchid;
}
ul,ol,dl{
	font-size: 24px;
	color: fuchsia;
}
.l1 li::marker{
	color: lime;
	font-size: 1.1em;
}
.l2 li{
padding-left: 10px;
}

ol{
	margin-left: 50px;
}

@counter-style emoji {
  system: cyclic;
  symbols: 😀 👻 👽 🎃 😹 👋 👀 💋 🐮;
  suffix: " ";
}

ul.l3 {
  list-style: emoji;
}